:root {
  --secondary-color: #F5F5F5;
  /* --secondary-gradient: linear-gradient(to bottom right, #C973FF, #AEBAF8); */
  --default-font-family: 'DM Sans', sans-serif;
  --subtitle-font-family: 'Inter', sans-serif;
  --primary-color: rgb(133, 85, 210);
}

/* Wraps entire app
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: blue;
  justify-content: flex-start; */
/* background-image: linear-gradient(to left, #9d89ec, #705FEB); */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--primary-color);
  font-family: var(--subtitle-font-family)
    /* background-image: linear-gradient(to left, #9d89ec, #705FEB); */
}

/* Ensure the content area expands */
.mainContent {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.downloadBtn.downloadBtn {
  background-color: var(--primary-color);
  text-transform: none;
  padding: 10px 100px;
}

/* Basic styling for header, footer, and hero section */
.header {}

.headerToolbar {
  background-color: white;
  color: var(--primary-color);
}

.heroSection {
  background-color: #ddd;
  padding: 100px 250px 250px 250px;
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 22px;

  font-family: var(--subtitle-font-family)
}

.footer {
  display: flex;
  justify-content: center;
  height: 60px;
}


/* Ensure the body directly uses 100% of the viewport height */
body,
html {
  height: 100%;
  margin: 0;
  font-family: var(--subtitle-font-family)
}